{% extends 'base.html' %}

{% block title %}Real Time Scanning{% endblock %}






{% block body %}
<div class="container" style="margin-top: 50px;">
  <table class="table table-hover">
       <thead>
      <tr>
        <th style="color:white;">URLs</th>
          <th style="color:white;">Prediction</th>
      </tr>
    </thead>


        {%for pre,url in predictions%}
      <tr>
         <td style="color:white;">{{url}}</td>
          <td style="color:white;">{{pre}}</td>
          </tr>
        {%endfor%}





  </table>
</div>
{% endblock%}